.form-control {
  margin: 0.5rem 0;
}

.form-control label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}

.form-control input {
  display: block;
  width: 100%;
  border-radius: 30px;
  border: 1px solid #ccc;
  font: inherit;
  line-height: 1.5rem;
  padding: 5px 20px;
}

.form-control input:focus {
  outline: none;
  background: #EEEEEE;
  border-color: #06283D;
}


.form-control.invalid input{
  border: 2px solid red;
  /* background-color:rgb(249, 194, 194); */
  box-shadow: 0px 0px 20px 0px rgb(245, 131, 131);
}
.form-control.invalid label{
  color:red;
}